 <h1 style="text-align:center">New Rental</h1>

<style>.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  background-color: yellow;
  overflow: hidden;
}

.topnav a:hover {
  background-color: yellow;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

h1   {color: yellow;}
body {background-color: blue;
color: white;}

 a:link {
  color: white;
}

a:visited {
  color: black;
}

</style>


<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/rentals/new">New Rental</a>
  <a href="/rentals">All Rentals</a>
  <a href="/customers/new">New Customer</a>
  <a href="/customers">All Customers</a>
  <a href="/movies/new">New Movie</a>
  <a href="/movies">All Movies</a>
</div><br>

<form method='post' action='/rentals'>

<label for="movies">Movie:</label>
<input list="movies" name="movie" id="movie">
<datalist id="movies">
<% @movies.each do |movie| %>
  <option value="<%=movie.name%>">
  <% end %>
</datalist>

<label for="customers">Customer:</label>
<input list="customers" name="customer" id="customer">
<datalist id="customers">
<% @customers.each do |customer| %>
  <option value="<%=customer.name%>">
  <% end %>
</datalist>

<input type='submit' value='Create'>
</form>